<% var socialMediaInstagram = socialMedia.instagramUrl || ''; %>
<% var socialMediafacebook = socialMedia.facebookUrl || ''; %>                                                           
<% var socialMediasoundCloud = socialMedia.soundCloudUrl || ''; %> 
<% var socialMediaSpotifyUrl = socialMedia.spotifyUrl || ''; %>
<% var socialMediaTwitter = socialMedia.twitterUrl || ''; %> 

<script type="text/javascript">
    // run on page load

    document.addEventListener('DOMContentLoaded', function () {

    // Get url path and determine if its bio, shows, gallery, or contact
    var url = window.location.pathname;
    var page = url.substring(url.lastIndexOf('/') + 1);
    // for each page we change the title to match Biography, Gallery, Shows or Contact

    let title = '';

    if (page === 'bio') {
        title = 'Biography';
    } else if (page === 'shows') {
        title = 'Upcoming Shows';
    }else if (page === 'music') {
        title = 'Music';
    } else if (page === 'gallery') {
        title = 'Gallery';
    } else if (page === 'contact') {
        title = 'Contact';
    } else {
        title === 'David M';
    }

    console.log(page, title)

    document.getElementById('header-title').innerHTML = title;
    
        });

</script>

<div class="about-info">
    <h1 style="color:#fff; border-bottom:none !important; margin-bottom:0;" id="header-title"></h1>
    <ul class="social list-inline">
        <!-- if socialMedia.facebookUrl the show -->
        <% if (socialMedia.facebookUrl) { %>
            <li><a href="<%= socialMediafacebook %>"><i class="fa fa-facebook"></i></a></li>
        <% } %>
        <!-- if socialMedia.twitterUrl the show -->
        <% if (socialMedia.twitterUrl) { %>
            <li><a href="<%= socialMediaTwitter %>"><i class="fa fa-twitter"></i></a></li>
        <% } %>
        <!-- if socialMedia.soundCloudUrl the show -->
        <% if (socialMedia.soundCloudUrl) { %>
            <li><a href="<%= socialMediasoundCloud %>"><i class="fa fa-soundcloud"></i></a></li>
        <% } %>
        <!-- if socialMedia.instagramUrl the show -->
        <% if (socialMedia.instagramUrl) { %>
            <li><a href="<%= socialMediaInstagram %>"><i class="fa fa-instagram"></i></a></li>
        <% } %>
        <!-- if socialMedia.spotifyUrl the show -->
        <% if (socialMedia.spotifyUrl) { %>
            <li><a href="<%= socialMediaSpotifyUrl %>"><i class="fa fa-spotify"></i></a></li>
        <% } %>
    </ul>                               
</div>
