<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Theme Region">
       	<meta name="description" content="">

        <title>David M</title>

         <!-- Fonts -->
        <link href='https://fonts.googleapis.com/css?family=Cookie' rel='stylesheet' type='text/css'>
		
        <!-- icons -->
 

        <!-- CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/font-awesome.min.css">  
        <link rel="stylesheet" href="css/jplayer.css"> 
        <link rel="stylesheet" href="css/beat.css">         
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="css/owl.carousel.css">      
        <link rel="stylesheet" href="css/cubeportfolio.min.css">      
        <link rel="stylesheet" href="css/main.css"> 
        <link rel="stylesheet" href="css/responsive.css">         

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    <style>

        #navigation .navbar:after,  #navigation .navbar:before{
            border-top: 30px solid transparent;
            background-color: transparent;
        }
        .btn.btn-primary{
        
            background-color:#000;
            border: 1px solid #000;
        }
        
        .btn.btn-primary::hover{
            color:#000 !important;
        }           
        .video-overlay {
        
            background-color:rgb(0,0,0,0.4) !important;
        }
        .homevid{
            width:50%;
        }


        @media (max-width: 991px){
        .homevid{
            width:100%;
            margin: 40px 0;
        }         
                
            .band-banner .home-content h1, .home-banner.biography .home-content h1 {
                 font-size: 45px;
                  line-height: 42px;
            }
        }

        @media (max-width: 720px){
            .social.list-inline {
                position: absolute !important;
                bottom: 0 !important;
                left: 50% !important;
                transform: translate(-50%, -50%) !important;
            }
            .video-gallery.homevid {
                display: none !important;
            }
        }
    </style>
    </head>
    <body class="body-personal">
        <% include partials/header %>

        <!-- Set all my variables -->
        <% var heading = homePage?.heading || 'hello'; %>
        <% var subHeading = homePage?.subHeading || 'hello'; %>
        <% var backgroundImage = homePage?.backgroundImage?.image?.url || '/images/DavidP/IMG_6469.png'; %>
        <% var featureVideoImage = homePage?.featureVideo?.image?.url || '/images/DavidP/IMG_6469.png'; %>
        <% var featureVideoLink = homePage?.featureVideo?.youtubeUrl || 'https://www.youtube.com/watch?v=HblllXL0VU0'; %>       
        <% var bioCardParagraph = homePage?.bioCardInformation?.paragraph || 'Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.'; %> 
        <% var bioCardTitle = homePage?.bioCardInformation?.title || 'David M'; %>      
        <% var bioCardSubtitle = homePage?.bioCardInformation?.subTitle || 'Bio'; %>           
        <% var bioCardImage = homePage?.bioCardInformation?.bioCardImage?.url || '/images/DavidP/IMG_6469.png'; %>  
                                                
        <% var songs = homePage?.songs || []; %>  

        <div class="home-banner biography" style="background: rgba(0,0,0,.2);">
            <div class="container" style="position: relative;">
                <div class="home-content" style="padding-bottom: 120px;">
                    <h2><%= heading %></h2>   
                    <h1><%= subHeading %> </h1>
                        <div class="video-gallery homevid">
                            <div class="gallery-tab">
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="one">
                                        <div class="video-content" style="box-shadow: 0px 15px 38px rgba(0, 0, 0, .5);">
                                            <div class="video-overlay"></div>
                                            <img class="img-responsive" style="border-radius:5px;" src=<%= featureVideoImage %> alt="Image">
                                            <div class="video video-icons text-center">
                                                <a class="video-link" href="<%=featureVideoLink%>"><img class="img-responsive" src="images/player/1.png" alt="Image"></a>
                                            </div>                                
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- gallery tab --> 
                        </div>
                    <ul class="social list-inline">
                                    <!-- if socialMedia.facebookUrl -->
                                    <% if (socialMedia.facebookUrl) { %>
                                        <li><a href="<%=socialMedia.facebookUrl%>"><i class="fa fa-facebook"></i></a></li>
                                    <% } %>
                                    <!-- if socialMedia.twitterUrl -->
                                    <% if (socialMedia.twitterUrl) { %>
                                        <li><a href="<%=socialMedia.twitterUrl%>"><i class="fa fa-twitter"></i></a></li>
                                    <% } %>
                                    <!-- if socialMedia.soundCloudUrl -->
                                    <% if (socialMedia.soundCloudUrl) { %>
                                        <li><a href="<%=socialMedia.soundCloudUrl%>"><i class="fa fa-soundcloud"></i></a></li>
                                    <% } %>
                                    <!-- if socialMedia.instagramUrl -->
                                    <% if (socialMedia.instagramUrl) { %>
                                        <li><a href="<%=socialMedia.instagramUrl%>"><i class="fa fa-instagram"></i></a></li>
                                    <% } %>
                                    <!-- if socialMedia.spotifyUrl -->
                                    <% if (socialMedia.spotifyUrl) { %>
                                        <li><a href="<%=socialMedia.spotifyUrl%>"><i class="fa fa-spotify"></i></a></li>
                                    <% } %>
                    </ul>
                </div>
                <div id="audio-player-wrapper" class="audio-player">
                    <div class="album-info">
                        <% 
                        <!-- if no show?.image?.url exists. Get random image from images/jazzEventImage/image1-image3.jpg -->
                        let image = '' || `images/jazzEventImage/image${Math.floor(Math.random() * 3) + 1}.jpg`;
                    
                    %>
                        <div class="album-cover">
                            <img  class="img-responsive" style="width: 40px; height: 40px;" src="<%= image %>" alt="Image">
                        </div>
                    </div>
                    <div id="audio-player">
                        <div id="tr-player"></div>
                        <div id="tr-player-wrapper" class="jp-audio" role="application" aria-label="media player">
                            <div class="jp-type-playlist">
                                <div class="jp-interface">
                                    <div class="jp-controls">
                                        <button class="jp-previous" role="button" tabindex="0"></button>
                                        <button class="jp-play" role="button" tabindex="0"></button>
                                        <button class="jp-next" role="button" tabindex="0"></button>
                                    </div>
                                    <div class="jp-progress">
                                        <div class="jp-seek-bar">
                                            <div class="jp-play-bar"></div>
                                        </div>
                                    </div>
                                    <div class="jp-time-holder">
                                        <div class="jp-duration" role="timer" aria-label="duration">&nbsp;</div>
                                    </div>
                                    <div class="jp-volume-controls">
                                        <button class="jp-mute" role="button" tabindex="0"></button>
                                        <button class="jp-volume-max" role="button" tabindex="0"></button>
                                        <div class="jp-volume-bar">
                                            <div class="jp-volume-bar-value"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="jp-playlist">
                                    <ul>
                                        <li>&nbsp;</li>
                                    </ul>
                                </div>
                                <div class="jp-no-solution">
                                    <span>Update Required</span>
                                    To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                                </div>
                            </div>              
                        </div>
                    </div><!-- audio-player -->
                </div><!-- audio-player-wrapper -->
			</div><!-- container -->
        </div><!-- home banner -->

        <!-- display only if homePage.bioCardInformation -->
        <% if (homePage.bioCardInformation) { %>
        <div class="about-section about about-biography bg-image section-padding before-after">
            <div class="section-title">
                <h1>About me</h1>
                <h2>Biography</h2>
            </div>
            <div class="about-content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6  no-padding">
                            <div class="about-image">
                                <img  class="img-responsive" src="<%=bioCardImage%>" alt="Image">
                            </div>
                        </div>
                        <div class="col-md-6 no-padding">
                            <div class="about-info">
                                <h3><%=bioCardTitle%></h3>
                                <h4><%=bioCardSubtitle%></h4>
                                <p>
                                    <%=bioCardParagraph%>
                                </p>
                                <ul class="social list-inline">
                                    <li><a href="<%=socialMediafacebook%>"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="<%=socialMediaTwitter%>"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="<%=socialMediasoundCloud%>"><i class="fa fa-soundcloud"></i></a></li>
                                    <li><a href="<%=socialMediaInstagram%>"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="<%=socialMediasoundCloud%>"><i class="fa fa-rss"></i></a></li>
                                </ul>
                            </div>
                        <div class="form-group">
                            <a href="/bio" class="btn btn-primary pull-right text-center">Read BiographyY</a>
                        </div>                            
                        </div>
                    </div><!-- row -->
                </div><!-- container -->
            </div><!-- about content -->
        </div><!-- about section --> 

        <% } %>
<!-- partials footer -->
<% include partials/footer %>


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

        <!-- JS -->
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <!-- <script src="js/gmaps.min.js"></script>           -->
        <script src="js/jquery.jplayer.min.js"></script> 
        <script src="js/jplayer.playlist.min.js"></script> 
        <script src="js/jquery.plugin.js"></script> 
        <script src="js/jquery.countdown.js"></script>    
        <script src="js/magnific-popup.min.js"></script>    
        <script src="js/jquery.backstretch.min.js"></script>
        <script src="js/owl.carousel.min.js"></script> 
        <script src="js/inview.min.js"></script> 
        <script src="js/jquery.spinner.min.js"></script> 
        <script src="js/cubeportfolio.min.js"></script>    
        <!-- <script src="js/jplayer.source.js"></script> -->
        <script src="js/main.js"></script>        

        <script>
            (function () {
                var bodyPersonal = document.querySelector(".home-banner");
                var imagePersonal = `<%=backgroundImage %>` || "images/DavidP/IMG_6469.png";
    
                console.log(`<%=featureVideoLink%>`);
    
                // Assign background image to .body-personal
                bodyPersonal.style.backgroundImage = "url('" + imagePersonal + "')";
                bodyPersonal.style.backgroundSize = "cover";
                bodyPersonal.style.backgroundPosition = "center";
                bodyPersonal.style.transition = "background-image 0.75s ease-in-out";
            })();

            (function () {
                var songData = [];

                <% songs.forEach((song) => { %>  // Loop through the songs array using EJS syntax
                    songData.push({
                        title: "<%= song?.songTitle %>",
                        mp3: "<%= song?.songMp3?.url %>"
                    });
                <% }) %>

                console.log(songData);  // Print the song data for each iteration

                new jPlayerPlaylist({
                        jPlayer: "#tr-player",
                        cssSelectorAncestor: "#tr-player-wrapper"
                    },songData, {
                        swfPath: "js/jquery.jplayer.swf",
                        supplied: "mp3",
                        wmode: "window",
                        useStateClassSkin: true,
                        autoBlur: false,
                        smoothPlayBar: true,
                        keyEnabled: true,
                        remainingDuration: true,
                    });
                })();
        </script>
    </body>
</html>